*{
    box-sizing: border-box;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:rgb(243 244 246);
}
.contain{
    width:90vw;
    height:90vh;
    margin-left:3.5%;
    margin-top:5%;
    background-color: rgba(255, 255, 255,1);
    border-radius: 0.5rem;
    display: flex;
}
.text{
    font-weight: bold;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    margin-left:4px;
}
.lien{
    position: absolute;
    top:70px;
    left:50%;
}
.lien a{
    margin-left: 12px;
    text-decoration: none;
    color:black;
}
.lien a img{
    height:15px
}
.sidebar{
    width:60%;
    height: 85%;
    
}
.active{
    border-bottom: 3px solid yellow;
    padding:auto,20px,auto,20px;
}
.salutation{
    font-size: 3rem;
    margin-left:4px;
 } 
 .conseille{
    font-size:1.5rem;
    margin-left:4px;
 }
.conseille{
  display: block;
 }
 .span1{
    font-size: 2rem;
    display: block;
    padding:16px 2px  ;
 }
 .span2{
    font-size: 2rem;
    padding:16px 4px;
 }
 .truc{
    margin-left: 20%;
 }
 .sidebar2 {
    width:40%;
    height:100%;
 }
 .sidebar2 img{
    width:460px;
    height:450px ;
    margin-top: 14%;
 }
 .text2{
    display: none;
 }
 .contacte-ici{
    margin-top:10%;
    font-size: 2rem;
 }
 .reve{
    margin-top:10%;
    font-size: 2rem;
 }
@media screen and (min-width:300px) and (max-width: 600px) {
    .lien{
        position: absolute;
        top:5%;
        left: 2%;
    }
    .contacte-ici{
        margin-top:10%;
        font-size: 1rem;
     }
     .reve{
        margin-top:10%;
        font-size: 1rem;
     }
    .lien a{
        font-size: 12px;
    }
    .contain{
        height: 100vh;
        margin-top:0;
        width:100vw;
    }
    .lien a img{
        height:1px
    }
 .salutation{
    margin-top:85%;
    font-size: 14px;
 } 
 .conseille{
    font-size:15px;
 } 
 .contain{
    display: flex;
    flex-direction: column;
 }
 .sidebar2 img{
    width:90vw;
    margin-top: 20%;
    height: 35vh;
 }
 .sidebar{
position: absolute;
top:2%;   
height: 10vh;
width: 100%; 
}
.text{
    font-weight: bold;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    margin-left:4px; 
}
.text2{
    display: none;
}
.span1{
    font-size: 1rem;
}
.span2{
    font-size: 1rem;
}
}
@media screen and (min-width:600px) and (max-width: 832px) {
    .lien{
        position: absolute;
        top:6%;
        left:10%;

    }
    .contacte-ici{
        margin-top:10%;
        font-size: 1.5rem;
     }
     .reve{
        margin-top:10%;
        font-size: 1.5rem;
     }
    .salutation{
        margin-top:65%;
        font-size: 18px;
     } 
     .conseille{
        font-size:15px;
     } 
     .text{
        margin-bottom: 3px;
     } 
     .contain{
        height: 100vh;
        margin-top:0;
        width:100vw;
    }
    .sidebar2 img{
        width:90vw;
        margin-top: 20%;
        height: 35vh;
    }
    .sidebar{
        position: absolute;
        top:1%;   
        height: 10vh;
        width: 100%;
    }
        .text2{
         display: none;   
        }
        .text{
            margin-bottom: 16px;
            font-size: 20px;
         }
         .sidebar2{
            display: flex;
            justify-content: center;
            margin-left: 20%;
            margin-top: 5%;
         }
    
}
@media screen and (min-width:832px) and (max-width: 1000px) {
    .contain{
        display: flex;
    }
    .salutation{
        margin-left:0 ;
    }
    .contacte-ici{
        font-size: 2rem;
    }
    .reve{
        font-size: 2rem;   
    }
    .sidebar2 img{
        margin-top:22%;
        width:35vw;
    }
    .lien a{
        font-size: 12px;
    }
}
@media screen and (min-width:1000px) and (max-width: 1352px) {
    .sidebar2 img{
        width:33vw;
    }

}